@import '@/scss/mixins.scss';

.noOptions {
    color: #ffffff !important;
}

.searchbar {
    display: flex;

    @include SmallTablet {
        flex-basis: 100%;
        flex-grow: 1;
        order: 1;
    }
}