@import "@/scss/variables.scss";

.navbar {
    padding: 16px;
    background-color: $primary;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
    }
}