@import '@/scss/variables.scss';

.footer {
    background-color: $primary;
    display: flex;
    flex-direction: column;

    &__main {
        padding: 32px 0;

        &__wrapper {
            display: grid;
            gap: 40px 32px;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    }

    &__info {
        padding: 16px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.20);
    }
}