.prev,
.next {
    background-color: rgba(255, 255, 255, 0.2) !important;
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;

    &:hover {
        background-color: rgba(255, 255, 255, 0.4) !important;
    }

    &:disabled {
        display: none;
    }
}

.prev {
    left: -24px;
}

.next {
    right: -24px;
}
