@import '@/scss/mixins.scss';

.prev,
.next {
    background-color: rgba(255, 255, 255, 0.2) !important;
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    width: 32px;
    height: 32px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.4) !important;
    }

    &:disabled {
        display: none;
    }
}

.prev {
    left: -24px;

    @include SmallTablet {
        left: -18px;
    }

    @include Mobile {
        left: -12px;
    }
}

.next {
    right: -24px;


    @include SmallTablet {
        right: -18px;
    }

    @include Mobile {
        right: -12px;
    }
}